li {
  list-style-type: none;
  font-size      : 1.5rem ;
}

li a {
  padding: 14px 16px;
  width  : 3rem;
}

html {
  font-family: 'Mulish', sans-serif;
  font-size  : 10px;
}

body {
  overflow-x: hidden;
  position  : relative;
  width     : 100%;
  margin    : 0rem;
  
}

body::before {
  content   : "";
  background: url('../images/pattern-1.png') repeat center center/400px 400px;
  width     : 100%;
  height    : 100%;
  z-index   : 2;
  position  : absolute;
  left      : 0rem;
  width     : 100%;
  height    : 100%;
}


.card {

  width           : 30%;
  height          : 63rem;
  float           : left;
  background-color: white;
}

.card_name {
  font-size       : 1.7rem;
  background-color: #c4e7d9;
  width           : 100%;
  height          : 14rem;
  text-align      : center;
  color           : #6e9b89;
  font-weight     : bold;
  display         : flex;
  align-items     : center;
  justify-content : center;
}

.card_name>p {
  margin       : 0;
  margin-bottom: auto;
    margin-top: 10%;
}

.card__popular {
  position: relative;
  bottom  : 2rem;
  height  : 65rem;
}

.card__popular>.card_name {
  height: 16rem;
}

.card__popular>.card_name>p {
  margin: 0 0 calc(34px- 1rem);
}



.card_offer {
  position: relative;
  bottom  : 7rem;
}

.card_offer>p[aria-disabled="true"] {
  opacity: 0.5;
}

.card_offer>p[aria-disabled="true"]::before {
  content: "\2716";
  color  : gray;
}

.signup_button {
  color           : white;
  background-color: #56bc94;
  width           : 90%;
  text-align      : center;
  border          : none;
  border-radius   : 0.4rem;
  padding         : 0.8rem;
  margin          : 1rem 1rem;
  margin-top      : 2.5rem;
  height          : 4.5rem;
}

.send_message_button {
  color           : white;
  background-color: #317b5e;
  width           : 12rem;
  text-align      : center;
  border          : none;
  border-radius   : 0.2rem;
  padding         : 0.8rem;
  margin          : 2rem 33%;
  
}

#message {
  width           : 100%;
  height          : 15rem;
  border          : none;
  border-radius   : 0.5rem;
  background-color: white;
  margin-top      : 1rem;
}

#name,
#email {
  width           : 100%;
  height          : 4rem;
  border          : none;
  border-radius   : 0.5rem;
  background-color: white;
  margin-bottom   : 1rem;
}

.contact_us_form {
  font-size   : 3rem;
  color       : #5a5a5a;
  font-weight : normal;
  margin-left : auto;
  margin-right: auto;
  width       : 40%;
}

.email_address {
  font-size   : 1.3rem;
  color       : #5a5a5a;
  font-weight : normal;
  margin-left : auto;
  margin-right: auto;
}

.info {
  font-size      : 1.3rem;
  color          : #5a5a5a;
  font-weight    : normal;
  display        : flex;
  justify-content: center;
  flex-direction : row;
  margin: 1.5rem auto;

}

.info>p {
  margin: 0px;
}


.fa {
  
  margin-right: 1rem;
  height      : fit-content;
}



.plains_container {
  width           : 100%;
  height          : 79rem;
  margin          : 7rem auto 0rem;
  position        : relative;
  background-color: rgba(240, 240, 240, 0.7);
}

.contact_us {
  width           : 100%;
  height          : 70rem;
  position        : relative;
  background-color: #56bc94;

}

.plains_heading {
  display        : flex;
  justify-content: center;
  font-size      : 3rem;
  color          : #5a5a5a;
  
  padding-top    : 3rem;
}

.contact_us_heading {
  margin-left : auto;
  margin-right: auto;
  font-size   : 3rem;
  color       : #d8f0e6;
  font-weight : normal;
  padding-top : 6rem;
}

.introduction {
  margin-left : auto;
  margin-right: auto;
  width       : 57rem;
  text-align  : center;
  font-size   : 1.5rem;
  color       : #d8f0e6;
}

.card_price {
  height          : 15rem;
  width           : 15rem;
  background-color: #56bc94;
  border-radius   : 50%;
  margin-left     : auto;
  margin-right    : auto;
  display         : flex;
  flex-direction  : column;
  justify-content : flex-end;
  border          : 4px solid #8ed2b7;
  position        : relative;
  bottom          : 7.5rem;
}

.card_price>p {
  color       : white;
  font-size   : 1.8rem;
  text-align  : center;
  line-height : 1.2rem;
  margin-right: auto;
  width       : 100%;
  margin-left : auto;
  float       : left;
}
.card_price :nth-child(2){
  margin-top: 3.5rem;
    margin-bottom: 3rem;
}
.card_price :nth-child(1){
  margin: 0rem;
}
.offer_price {
  font-size: 3rem !important;
}
::placeholder {
  padding-left: 1rem;
  font-size: 1.6rem;
}
.card_price>.offer_price::before {
  content       : "$";
  font-size     : 1.5rem;
  vertical-align: bottom;
}

.logo_image {
  padding-top: 1rem;

}

.card_offer {
  color     : gray;
  padding   : 1rem;
  width     : 100%;
  text-align: center;
  font-size : 1.2rem;
  box-sizing: border-box;
}

.card_offer>p {
  border-bottom: 1px solid #ccc;
  padding      : 1rem 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.card_offer>p::before {
  content: "\2714";
  color  : green;
  margin : 0 0.5rem;
}

.logo_image {
  padding-top: 1rem;
}

header {
  position        : fixed;
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 7rem;
  top             : 0rem;
  z-index         : 1;
  background-color: white;
  width           : 100%;
}

.desktop-header {
  padding        : 2rem 2rem;
  margin-left    : 37rem;
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
  height         : 2rem;
  color          : gray;
  float          : left;
  font-weight    : normal;

}

@media (max-width: 767px) {
  .menu-wrap {
    visibility: visible !important;
  }

  header {
    justify-content: left !important;
    border-bottom  : 0.5px solid gray;
  }

  .desktop-header {
    display: none;
  }

  .plains_container {
    height      : 220rem;

  }

  .plains_heading {
    margin   : 0rem 2rem;
    font-size: 2rem;
  }

  .desktop-header {
    margin-left: 1rem;
    font-size  : 2rem;
  }

  .card{
    float           : left;
    margin-left     : auto;
    margin-right    : auto;
    width           : 95%;
    background-color: white;
        margin-bottom: 6rem;
  }

  .card_offer,
  .card_name
  {
    width: 100%;
  }


  .contact_us {
    width       : 100%;

    float       : left;
  }

  .contact_us_heading {
    margin-left : auto;
    margin-right: auto;
    font-size   : 2rem;
  }

  .introduction {
    width       : 80%;
    margin-left : auto;
    margin-right: auto;
    height      : 8rem;
  }

  .email_address,
  .phone_number {
    margin-left : auto;
    margin-right: auto;
    font-size   : 1.6rem;
    text-align  : center;
  }


  .contact_us_form {
    margin-left : auto;
    width       : 95%;
    margin-right: auto;
  }

  .section_container_card ,.cards{
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  
  .card__popular{
    bottom: 0px;
  }
  .fa{
    margin-top: 2px;
  }

}

.cards {
  display        : flex;
  justify-content: space-between;
  width          : 85%;
}

.section_container_info {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  width          : 90%;
  margin-left    : auto;
  margin-right   : auto;
}

.section_container_card {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  width          : 100%;
  margin-left    : auto;
  margin-right   : auto;
  float          : left;
  margin-top     : 5rem;
}

.ribbon {
  width   : 130px;
  height  : 130px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  content : '';
  display : block;
  border  : 0.5rem solid #40785f;
}

.ribbon span {
  position        : absolute;
  display         : block;
  width           : 22.5rem;
  padding         : 1.5rem 0;
  background-color: #3fa07a;
  box-shadow      : 0 0.5rem 2rem rgba(0, 0, 0, .1);
  color           : #fff;
  font            : 700 1.7rem/1 'Lato', sans-serif;
  text-shadow     : 0 1px 1px rgba(0, 0, 0, .2);
  text-transform  : uppercase;
  text-align      : center;
}

.ribbon-top-right {
  top  : -1rem;
  right: -1rem;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color  : #3fa07a;
  border-right-color: #3fa07a;
}

.ribbon-top-right::before {
  top : 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right : 0;
}

.ribbon-top-right span {
  left     : -2.5rem;
  top      : 3rem;
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */